.header{
    display: grid;
    grid-template-columns: 4fr 8fr;
    background: linear-gradient(to top, grey, rgb(182, 181, 181));
    position: relative;
    z-index: 2;
}

.header .navigationMobile{
    display: none;
}

@media(max-width: 990px){
    .header .navigation{
    display: none;
    }
    .header .navigationMobile{
        display: flex;
        justify-content: end;
    }
    .header{
        grid-template-columns: 9fr 3fr;
    }
}


.logo h1{
    color: white;
    font-size: 38px;
    text-align: left;
    margin-left: 10%;
    margin: 0;
    
}

.logo{
    margin-left: 10%;
    margin-top: 2%;
}

.logo span{
    color: white;
    font-size: 12px;
    
}


.link{
    margin-top: 30px;
    text-align: center;
}

.link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

.link a:hover{
    text-decoration: none;
    color: rgb(139, 138, 138);
}

.logo a{
    text-decoration: none;
}

.link .activeLink{
    color: black;
}