.footer{
    display: grid;
    grid-template-columns: 6fr 6fr;
    background-color: rgb(75, 74, 74);
    margin-top: -1%;
    min-height: 70px;
}

.footer-logo h3{
    color: rgb(168, 168, 168);
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
    width: 100px;
    font-weight: normal;
}

.footer-logo{
    margin-left: 10%;
    margin-top: 2%;
}


.footer-nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}

.footer-link{
    margin-top: 15%;
    text-align: center;
}

.footer-link a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    font-weight: bold;
    font-size: 12px;
    
}

.footer-link a:hover{
    text-decoration: none;
    color: rgb(139, 138, 138);
}

.footer-logo a{
    text-decoration: none;
}

@media(max-width: 990px){
    .footer-link a{
        font-weight: bold;
        font-size: 7px;
        line-height: normal;  
    } 
    .footer{
        display: grid;
        grid-template-columns: 2fr 10fr;
    }
    .footer-link{
        margin-top: 15%;
    }
    .footer-navigation{
        padding-right: 1%;
    }
    .footer-logo h3{
        margin-top: 12%;
        margin-left: 0;
    }
    .footer-logo{
        margin-left: 4%;
    }
}