.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
    background-color: rgb(219, 219, 219);
    min-height: 710px;
}

.contacts .contacts-inform {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    font-size: 1.1em;
    margin-top: 4%;
}

.graph .red-text{
    color: red;
}

.contacts-inform .number{
    color: black;
    text-decoration: none;
}

@media (max-width: 600px){
    .contacts .contacts-inform{
    font-size: 1em;
    }
    .contacts .contacts-inform {
        flex-direction: column;
    }
    
}